/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* stylelint-disable-next-line selector-id-pattern */
#__next {
  height: 100%;
}

#layout-container {
  min-height: calc(100% - 7rem);
}

.nav-item {
  padding: 10px;
}

.nav-item-active {
  color: blue;
}

.home-container {
  max-width: 780px;
}

/* 消除Task下的li的默认样式 */
.contains-task-list li.task-list-item::marker {
  content: '';
}
