/* stylelint-disable at-rule-no-unknown */
@import './themes.css';

/* @import '../themes/tailwind/tailwind.css'; */

/* @import '../themes/tailwind/tailwind-dark.css'; */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* stylelint-disable-next-line selector-id-pattern */
#__next {
  height: 100%;
}

#layout-container {
  min-height: calc(100% - 7rem);
}

.nav-item {
  padding: 10px;
}

.nav-item-active {
  color: var(--color-primary) !important;
}

.home-container {
  max-width: 780px;
}

/* 消除Task下的li的默认样式 */
.hljs {
  background-color: transparent !important;
}

.contains-task-list li.task-list-item::marker {
  content: '';
}

/* 改变lulu UI的switch控件的样式 */
input[is='ui-switch'] {
  background-color: var(--color-bg-soft) !important;
  color: var(--color-bg-soft) !important;
}

input[is='ui-switch']:checked {
  background-color: var(--color-dark-bg-soft) !important;
  color: var(--color-dark-bg-soft) !important;
}
